


.browser__wrapper{
    background-color: #141414;
}

.mainmedia__container{
    max-height: 70%;
    overflow: hidden;
}

.carousel__container{
    z-index: 5 !important;
    position: relative;
    top:-1vw !important;
}

.modal__container{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:-50000;
    transition: z-index linear 0.25s;
}

.bigmodal__show{
    top: 0;
    z-index:50000;
    overflow-y: auto;   
}

.background__bigmodal{
    overflow-y: clip;
    width: 100%;
}

@media screen and (max-width: 920px){

    .carousel__container{
        top:3.6vw !important;
    }

    

}

@media screen and (max-width: 676px){
    .carousel__container{
        top:9.6vw !important;
    }

}

@media screen and (max-width: 470px){
    .carousel__container{
        top:15.6vw !important;
    }

}
