.card__container{
    display: flex;
    background-color: black;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 6%;
    padding-bottom: 6%;
    color:white;
    border-top: 10px solid;
    border-color: #222;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.rightcard__container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 45%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.leftcard__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55% ;
    position: relative;
    height: fit-content;
}

.text__cardcontent{
    text-align: start;
    width: 80%;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    /*margin: 0px !important;
    margin-left: 130px !important;
    padding-top: 25%;
    padding-bottom: 25%;*/
}

.card__title{
    font-size: 3.125rem;
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.card__description{
    font-size: 1.6em;
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-stretch: ultra-expanded;
    font-weight: 500;
}

.card__img{
    z-index: 100;
    width: 90%;
}

.card__video{
    position: absolute;
    z-index: 0;
    max-width: 100%;
}

@media screen and (max-width: 766px){

    .leftcard__container{
        order: 1 !important;
        justify-content: center !important;
    }

    .rightcard__container{
        order: 2 !important;
        justify-content: center;
    }

    .card__title, .card__description{
        text-align: center;
    }

    .imgcard__text{
        font-size: 3vw !important;
        white-space: nowrap;
    }

    .subimg1__card, .subimg2__card{
        height: 12vw !important;
    }
}

@media screen and (max-width: 440px){
    .card__title{
        font-size: 2rem;
    }

    .card__description{
        font-size: 1rem;
    }
}