.mainlogo__nav{
    height: 35px;
    justify-self: flex-start;
}

.nav-brand{
    min-width: fit-content !important;
    min-width: 100px;
}

.nav-brand > img {
    margin-top: 10px;
}

.navbarmain__container{
    padding-top: 18px !important;
    background-color: transparent;
    display: flex !important; 
    align-items: center;
    justify-content: space-between;
    max-width: 96%;
}

.nav__medium{
    display: flex;
    margin-left: 4%;
    align-items: flex-start !important;
    min-width: 750px !important;
}

.navlink{
    text-decoration: none;
    color: white;
    background-color: transparent !important;
    font-weight: 500;
    font-size: 16px;
}

.navlink:hover{
    color: rgba(255, 255, 255, 0.685);
}

.navbar__text{
    display: flex !important;
    min-width: 250px !important;
    justify-self: flex-end;
    justify-content: flex-end;
    width: max-content;
}

.left__container{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}

.navbar__text > span{
    text-align: center;
    color: white;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 0px;
    margin-right: 3%;
    max-height: 30px;
}

.navbartext__icon{
    margin-top: -0.1rem !important;
}

.navbar__text > span > i {
    font-size: 1.4rem;
}

.profile__picture > img {
    height: 100%;
    max-width: 30px;
}

.profile__picture{
    border-radius: 5%;
    overflow: hidden;
    width: max-content;
    display: flex;
}

.profile__picture > i {
    text-align: end;
    font-size: 1.2rem;
    align-self: flex-end;
    margin-left: 4%;
    transition: transform linear 0.25s;
}

.profile__picture:hover > i{
    display: inline-block;
    transform: rotate(180deg);
}

.profile__container:hover > div{
    opacity: 1;
    visibility: visible;
}

.navprofile__menu{
    position: absolute;
    color: white;
    right: 6%;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity linear 0.25s;
}

.navprofile__menu>div{
    outline: solid 1px white;
    background-color: #0b0b0b;
    width: 100%;
    border-left: 5px solid transparent;
    border-right: 25px solid transparent;
}

.navprofile__menu>div>div{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    padding: 5% 0%;
    font-size: 1rem;
    white-space: nowrap;
}

.navprofile__menu>div>div:hover > span{
    text-decoration: underline;
    cursor: pointer;
}

.navprofile__menu>div>div>i{
    margin-right: 4%;
}

.navprofile__menu>div>div>i:hover{
    cursor: pointer;
}

.nav__logout{
    background-color: #0b0b0b;
    justify-content: center !important;
    outline: solid 1px white;
    padding: 5% 0%;
    font-size: 1rem;
    border: none !important;
}

.nav__logout:hover{
    cursor: pointer;
    text-decoration: underline;
}

.menuarrow__container{
    width: 100%;
    background-color: transparent !important;
    display: flex;
    justify-content: flex-end;
    outline: none !important;
    border: none !important;
}

.navprofile__menuarrow{
    font-size: 1.7rem;
    margin-top: -6%;
    margin-bottom: -6%;
}

@media screen and (max-width: 640px){
    .logo__nav{
        height: 25px;
    }

    .navbar-text, .selectlang__nav, .red__button{
        font-size: 0.9rem;
    }

    .container-fluid, .navbar{
        display: flex;
        min-width: 318px;    
    }

}